
<!DOCTYPE html>
<html>

<!-- Mirrored from coderthemes.com/ubold_2.3/b4/light/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 24 Jun 2017 07:35:33 GMT -->
<head>    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Land</title>

        <link href="~/theme/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="~/theme/css/icons.css" rel="stylesheet" type="text/css" />
        <link href="~/theme/css/style.css" rel="stylesheet" type="text/css" />
        <script src="~/theme/js/modernizr.min.js"></script>    
</head>

<body class="fixed-left">
    <!-- Begin page -->
    <div id="wrapper">
        @RenderBody()       
    </div>
    <!-- END wrapper -->
     <!-- jQuery  -->
    

        <script src="~/theme/js/jquery.min.js" asp-append-version="true"></script>
        <script src="~/theme/js/tether.min.js" asp-append-version="true"></script><!-- Tether for Bootstrap -->
        <script src="~/theme/js/bootstrap.min.js" asp-append-version="true"></script>
        <script src="~/theme/js/detect.js" asp-append-version="true"></script>
        <script src="~/theme/js/fastclick.js" asp-append-version="true"></script>
        <script src="~/theme/js/jquery.slimscroll.js" asp-append-version="true"></script>
        <script src="~/theme/js/jquery.blockUI.js" asp-append-version="true"></script>
        <script src="~/theme/js/waves.js" asp-append-version="true"></script>
        <script src="~/theme/js/wow.min.js" asp-append-version="true"></script>
        <script src="~/theme/js/jquery.nicescroll.js" asp-append-version="true"></script>
        <script src="~/theme/js/jquery.scrollTo.min.js" asp-append-version="true"></script>
        <script src="~/theme/plugins/peity/jquery.peity.min.js" asp-append-version="true"></script>
        <!-- jQuery  -->
        <script src="~/theme/plugins/waypoints/lib/jquery.waypoints.js" asp-append-version="true"></script>
        <script src="~/theme/plugins/counterup/jquery.counterup.min.js" asp-append-version="true"></script>
        <script src="~/theme/plugins/morris/morris.min.js" asp-append-version="true"></script>
        <script src="~/theme/plugins/raphael/raphael-min.js" asp-append-version="true"></script>
        <script src="~/theme/plugins/jquery-knob/jquery.knob.js" asp-append-version="true" ></script>
        <script src="~/theme/pages/jquery.dashboard.js" asp-append-version="true" ></script>
        <script src="~/theme/js/jquery.core.js" asp-append-version="true"></script>
        <script src="~/theme/js/jquery.app.js" asp-append-version="true"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    
        <script src="~/js/site.min.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
<!-- Mirrored from coderthemes.com/ubold_2.3/b4/light/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 24 Jun 2017 07:36:39 GMT -->
</html>
