
@{
    ViewBag.Title = "Upload Cadestral Map";
}

<div class="port">
    <div class="portfolioContainer">
        <div class="col-sm-12 col-lg-12 col-md-12 webdesign illustrator">
            <h3>Upload Cadestral Map</h3>
            <div class="gal-detail thumb">
                <img src="~/theme/images/Cadestral_Map.jpg" class="thumb-img" alt="Cadestral Map" title="Cadestral Map">
            </div>
        </div>
    </div>
</div>

